* {
    font-family: "Inter", sans-serif;
    margin: 0;
    color: var(--text-color);
}

:root {
    --body-color: #f5f5f5;
    --element-bg-color: #fff;
    --text-color: #000;
}

body {
    background-color: var(--body-color);
}

header {
    background-color: var(--element-bg-color);
}